<Context>
    <Resource
            name="jdbc/alextrip"
            auth="Container"
            type="javax.sql.DataSource"
            maxTotal="20"
            maxIdle="10"
            minIdle="2"
            maxWaitMillis="10000"
            username="u5vsknpv0s9htt"
            password="pfb26189ecdcea521e0891c5dc12efd815ac54ba51bcfee48220a6beda0ac60b6"
            driverClassName="org.postgresql.Driver"
            url="jdbc:postgresql://c9tiftt16dc3eo.cluster-czz5s0kz4scl.eu-west-1.rds.amazonaws.com:5432/d6raf53dlu8gqe"
    />
</Context>